#root {
  padding: 30px 0;
}

.container-fluid {
  width: 550px;
  padding: 0;
  border-radius: 10px;
  border: 1px solid #d8d5d5;
}

.container-fluid > div {
  display: flex;
  flex-direction: row;
}
.container-fluid label {
  font-weight: 700;
}

.container-fluid .control {
  flex: 1;
  flex-direction: column;
  display: flex;
}

.container-fluid .control > * {
  height: 34px;
}
.container-fluid .control > input, .container-fluid .control > textarea  {
  text-indent: 10px;
}

.container-fluid .control > textarea {
  height: 100px;
}

* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.container-fluid button {
  margin:0 10px;
}

.container-fluid .option {
  padding: 4px 8px;
}

.container-fluid .col-.container-fluid-label {
  padding: 0;
  line-height: 34px;
}

.container-fluid .footer {
  justify-content: center;
  display: flex;
}

.container-fluid .heading {
  height: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: #1a2179;
  color: #ffff;
  font-weight: 700;
  line-height: 36px;
  font-size: 25px;
  border-radius: 10px 10px 0 0;
}

.container-fluid .simpleform {
  padding: 20px
}